.preview {
  display: flex;
  justify-content: center;
  max-width: 210px;
  max-height: 178px;
}

.previewImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media all and (min-width: 1024px) {
  .preview {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
}
